[submodule "Tests datafiles"]
	path = tests/data
	url = https://github.com/Luthaf/Chemharp-Tests
[submodule "bindings/julia"]
	path = bindings/julia
	url = https://github.com/Luthaf/Chemharp.jl
[submodule "chrp"]
	path = bin
	url = https://github.com/Luthaf/chrp
