dd {
    margin-left: 2em;
}

a {
    color: #3da48e;
}

.note a {
    color: #b0f9e9;
}

pre {
    color: black;
}

code {
    color: inherit;
    background-color: rgba(0, 0, 0, 0.15);
}

/* Breathe creates class description with both breathe-sectiondef and container
classes. This make the class description use the container width, and not fit
on the page anymore. */
.breathe-sectiondef {
    width: inherit;
}

hr.docutils {
    border: 1px solid;
    width: 50%
}
